<!DOCTYPE html>
<html>
    <head>
          <meta charset=utf-8 />
          <title>Order</title>
          {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static 'pointofsale/css/bootstrap.min.css' %}" />
          <link rel="stylesheet" type="text/css" href="{% static 'pointofsale/css/signup.css' %}" />
          <script src="{% static 'pointofsale/js/bootstrap.min.js' %}"></script>


    </head>
    <body>
        <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-6">
                        <div class="row">
                              {% if list %}
                              {% for product in list %}
                              <div class="col-sm-6 col-md-3" style="padding-top: 5px; padding-bottom: 5px;">
                            <a role="button" class="btn btn-primary btn-block"
                                         href="#"
                                             onclick="addProduct({{ product.id }});">
                                        {{ product.name }}<br>${{ product.price }}
                            </a>
                        </div>
                              {% endfor %}
                              {% endif %}
                        </div>
    </body>